.title {
    font-size: 48px;
    display: flex;
    color: chocolate;
}

.container {
    width: 100vw; 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    
}

